networks:
  forgejo:
    external: false

services:
  server:
    image: codeberg.org/forgejo/forgejo:13-rootless
    container_name: forgejo
    user: ${DUID}:${DGID}
    environment:
      - USER_UID=${DUID}
      - USER_GID=${DGID}
    restart: unless-stopped
    networks:
      - forgejo
    volumes:
      - ./git_data:/var/lib/gitea
      - ./git_conf:/etc/gitea
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:2222"
